<!-- Page Content -->
<div class="wrapper">
    <div class="row no-gutters">
        <div class="col-md-2 figure figure tag tag-camera" >
            <img class="img-fluid figure-img" src="/assets/images/camera1.jpg" alt="">
        </div>
        <div class="col-md-2 figure tag tag-camera">
            <img class="img-fluid figure-img" src="/assets/images/camera7.jpg" alt="">
        </div>
        <div class="col-md-2 figure figure tag tag-camera" >
            <img class="img-fluid figure-img" src="/assets/images/camera1.jpg" alt="">
        </div>
        <div class="col-md-2 figure tag tag-camera">
            <img class="img-fluid figure-img" src="/assets/images/camera7.jpg" alt="">
        </div>
        <div class="col-md-2 figure tag tag-camera" >
            <img class="img-fluid figure-img" src="/assets/images/camera1.jpg" alt="">
        </div>
        <div class="col-md-2 figure tag tag-camera">
            <img class="img-fluid figure-img" src="/assets/images/camera7.jpg" alt="">
        </div>
    </div> 
  </div>