<div class="container">
        <div class="background">
            <section class="section web-wrapper">
                <div class="service">
                    <h2>OUR SERVICES</h2> 
                    <p>Full Service Interior Design Firm That Offers Design And Decorating Solutions To Residential And Small scale commercial projects. We offer interior design and decorating services in the Tri-State area, Washington DC, Miami, FL and South Florida. 
                        full service interior design firm that offers design and decorating solutions to residential and small scale commercial projects. We offer interior design and decorating services in the Tri-State area, Washington DC, Miami, FL and South Florida.</p>                    
                        
                        <p>Experience working on residential homes seeking LEED Certification (Leadership in Energy and Environmental Design) developed by the US
                    Experience working on residential homes seeking LEED Certification (Leadership in Energy and Environmental Design) developed by the US</p>
                    <button class="button">READ MORE</button>
                </div>
            
                <div class="content">
                    <div class="subitems">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-envira"></i></span>
                        <h3>INTERIOR DESIGN</h3> 
                        <p>Angsley Belcher Knauss was the senior designer for Washington,Douglas Drysdale of D.C. </p>
                    </div>
                    <div class="subitems">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-file-text-o"></i></span>
                        <h3>DECORATIVE SERVICES</h3> 
                        <p>Ingsley Belcher Knauss was the senior designer for Washington,Douglas Drysdale of D.C. </p>
                    </div>
                    <div class="subitems">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-calendar-check-o"></i></span>
                        <h3>SPACE PLANNING</h3> 
                        <p>Ingsley Belcher Knauss was the senior designer for Washington,Douglas Drysdale of D.C. </p>
                    </div>
                    <div class="subitems">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-rocket"></i></span>
                        <h3>PROJECT MANAGEMENT</h3> 
                        <p>Ingsley Belcher Knauss was the senior designer for Washington,Douglas Drysdale of D.C. </p>
                    </div>
                </div>
            </section>
        </div>
</div>