.navbar {
    overflow: hidden;
    background-color:rgb(122, 114, 114); 
   
  }
  .navbar 
  { 
      opacity: 0.7;

  }
  .navbar a {
    float: left;
    font-size: 16px;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .card img {
  
    width:100px; /* you can use % */
    height: auto;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }