<div class="container">
    <div class="flex-container web-wrapper">
        <div class="items">
            <h2>ABOUT US</h2>
            <article>
            <p>Design Arc Interior's Commercial Interior Design services encompass a wide range of interior decorators offering designs that are highly professional in nature. We are a group of interior designers who ensure that our clients.</p><br>
            <p>Design Arc Interiors offers bespoke commercial Interior design solution for clients looking to evoke their brand image through functional designed spaces. Our interior design offerings are commercial spaces design includes office interior design, retail interior design.</p>
            </article>
            <button class="button">READ MORE</button>
        </div>
        <div class="items chlid">
            <img src="/assets/images/comr.jpg" class="gallery__img">
            <h4>RESIDENTIAL DESIGN</h4>
            <P>Commercial interior designers design public
            Commercial interior designers design public
            Commercial interior..</P>
            <button class="button">READ MORE</button>
        </div>
        <div class="items chlid">
            <img src="/assets/images/resss.jpg" class="gallery__img">
            <h4>COMMERCIAL DESIGN</h4>
            <P>Commercial interior designers design public
             Commercial interior designers design public
             Commercial interior..</P>
            <button class="button">READ MORE</button>
        </div>
    </div> 
</div>
