<div class="backgroud-image">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-3 col-md-3 col-12 ">
                <h1 class="hadding"><span class="font-size">NEW IN! </span>FUJIFILM X-T1 </h1>
                <h6 class="mb-4 paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt
                    nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                    iste.
                </h6>
                <button type="button" class="btn btn-success btn-xl">LEARN MORE....</button>
            </div>
            <div class="col-md-3 col-lg-3 col-12">
                <h1><span  class="font-size">CAMERA</span></h1>
                <a href="#" class="link">order camera</a>
                <div class="img-align">
                    <img class="img" src="/assets/images/camera6.jpg">
                </div>
                <button type="button" class="btn-xl btn-success btn-small ">LEARN MORE....</button>
            </div>
        </div>
    </div>
</div>
