.container 
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.product-from
{
    background-color: #f8c632; 
    padding: 30px;
    box-sizing: border-box;
    display: block;
}
.input-container 
{
    position: relative;
}
.input-container i 
{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 12px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #aaa;   // adding a border to SVG shapes
    transition: 0.3s;
}
.input-container input, select, email,textarea 
{
    width: 100%;
    display: block;
    min-height: 45px;
    padding: 9px 40px;
    line-height: 22px;
    font-weight: 400;
    background-color: #eeebeb;
    border: 2px solid #eeebeb;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
    color:#221F1E;
    padding-left: 40px;
    margin-top:15px;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}
.input-container ::-webkit-input-placeholder 
{
    color:#221F1E;
}
.input-container textarea:focus 
{
    border-color:  #f0f0f0;
    box-shadow: 0 0 8px 0 rgb(201, 195, 195);
}
.input-container input:focus
{
    border-color: #f0f0f0;
    box-shadow: 0 0 8px 0 rgb(201, 195, 195);
}
.error 
{
    color: rgb(255, 0, 0);
    letter-spacing: .5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 85%;
    font-family: 'Open Sans', sans-serif;
}
.product-from h1 
{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 600;
    letter-spacing: .5px;
    margin-bottom: 10%;
    // text-align: center;
}
.product-from h1:before 
{
    position: absolute;
    left: 0;
    top: 1.5em;
    height: 0;
    width: 50px;
    content: '';
    border-top: 1.3px solid red;
}
.button 
{
    width: 7em;  height: auto;
}
.button
{
    background-color: #f4655f;
    border: none;
    color: white;
    margin-top: 1em;
    padding: 12px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80%;
    cursor: pointer;
}
@media all and (max-width: 600px) 
{
    .button
    {
      padding: 8px 8px;
    }
}
